In [5]:
f=c(10,20,30,40,50,60)
f

[1] 10 20 30 40 50 60

In [3]:
f[c(1,3)]=c(100,300)
f

[1] 100  20 300  40  50  60

In [6]:
sort(f)
sort(f,TRUE) #descndin
sort(f,FALSE) #ascendin

[1] 10 20 30 40 50 60

[1] 60 50 40 30 20 10

[1] 10 20 30 40 50 60

In [7]:
l=c(1:40)
l

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [8]:
seq(from=10,to=50,by=3)#start stop by-> n-1 jumps (if by is 3 it jumps 2 numbers(misses 2 numbers))

 [1] 10 13 16 19 22 25 28 31 34 37 40 43 46 49

In [9]:
seq(from=1,to=10,length.out=3) # length.out is value range

[1]  1.0  5.5 10.0

In [10]:
seq(from=1,to=10,length.out=19) # length.out is value range

 [1]  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0  7.5  8.0
[16]  8.5  9.0  9.5 10.0

In [11]:
mark=c(3,3,4,5,6,8,5,4,3)
mark

[1] 3 3 4 5 6 8 5 4 3

In [16]:
sum(mark)
unique(mark)  #unique marks 
sum(mark==3) #no of times 3 is repeated

[1] 41

[1] 3 4 5 6 8

[1] 3

In [13]:
lang=c("java","python","data","python")
lang

[1] "java"   "python" "data"   "python"

In [14]:
a=readline("count of which lang?")
sum(lang==a)

count of which lang?python

[1] 2

In [15]:
class(a)

[1] "character"

In [1]:
AIML=c(10,20,30,40,50,60,70)
CYB=c(11,20,30,41,55,60,70)
AIML
CYB

[1] 10 20 30 40 50 60 70

[1] 11 20 30 41 55 60 70

In [4]:
setdiff(CYB,AIML)
setdiff(AIML,CYB)
union(CYB,AIML)

[1] 11 41 55

[1] 10 40 50

 [1] 11 20 30 41 55 60 70 10 40 50

In [37]:
element=c()
total=as.integer(readline("how many hi's??"))
for(i in seq(total))
    {print("hi")}

how many hi's??3
[1] "hi"
[1] "hi"
[1] "hi"

In [40]:
element=c()
total=as.integer(readline("how many values??"))   #input for no of values in element
for(i in seq(total))
    {element[i]=as.numeric(readline(paste("elemnt value of",i,":")))} #value of the particular element[i] in ur vector 
element

how many values??2
elemnt value of 1 :1
elemnt value of 2 :2

[1] 1 2

In [43]:
element
class(element[i])
sort(element)
sort(element,TRUE)

[1] 1 2

[1] "numeric"

[1] 1 2

[1] 2 1

In [44]:
array(c(1,2,3,4,5,6),dim=c(2,3))

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [52]:
array(c(1,2,3,4,5,6),dim=c(2,3))

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [ ]:
#creat an array of 2 (3x3) matrix each w 3 rows and 3 coloumns using 2 given vector

In [53]:
v1=c(1,3,4,5)
v2=c(10,11,12,13,14,14)

array(c(v1,v2),dim=c(3,3))

     [,1] [,2] [,3]
[1,] 1     5   12
[2,] 3    10   13
[3,] 4    11   14

In [54]:
v1=c(1,3,4,5)
v2=c(10,11,12,13,14,14)

array(c(v2,v1),dim=c(3,3))

     [,1] [,2] [,3]
[1,] 10   13   1
[2,] 11   14   3
[3,] 12   14   4

In [59]:
v1=c(1,3,4,5)
v2=c(10,11,12,13,14,14)

a=array(c(v1,v2),dim=c(3,3,2))
print(a)

, , 1

     [,1] [,2] [,3]
[1,]    1    5   12
[2,]    3   10   13
[3,]    4   11   14

, , 2

     [,1] [,2] [,3]
[1,]   14    4   11
[2,]    1    5   12
[3,]    3   10   13

In [58]:
#print 2nd row of the 2nd matrix of an array

In [62]:
a[2,,2]  #row,col,matrix

[1]  1  5 12

In [65]:
a[3,3,1]

[1] 14

In [66]:
#write R prg to create 2d 5x3 array of seq of even integers> 50

In [68]:
array(seq(from=52,length.out=15,by=2), dim=c(5,3))

     [,1] [,2] [,3]
[1,] 52   62   72
[2,] 54   64   74
[3,] 56   66   76
[4,] 58   68   78
[5,] 60   70   80

In [69]:
matrix(c(1:16),nrow=4,ncol=4)

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14
[3,] 3    7    11   15
[4,] 4    8    12   16

In [70]:
matrix(c(1:16),nrow=4,ncol=4,byrow=TRUE)

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16

In [78]:
rname=c("r1","r2","r3","r4")
cname=c("c1","c2","c3","c4")
a=matrix(c(1:16),nrow=4,ncol=4,byrow=TRUE,dimname=list(rname,cname))  
a #vector fr row and clmn names are put into a list and defined as dimname in the matrix

   c1 c2 c3 c4
r1  1  2  3  4
r2  5  6  7  8
r3  9 10 11 12
r4 13 14 15 16

In [76]:
a[,3]

r1 r2 r3 r4
 3  7 11 15

In [77]:
a[3,]

c1 c2 c3 c4
 9 10 11 12

#factors -store categorical data

In [ ]:
a=factor(c("java","java","python","c"))
a

In [80]:
table(a)

a
     c   java python
     1      2      1

In [81]:
levels(a)

[1] "c"      "java"   "python"

In [85]:
#get input from user for list

In [5]:
v1=c() #creating 2 vectors and to put it in a list
v2=c()
vn1=as.integer(readline("no of elements in ur first vector"))
vn2=as.integer(readline("no of elements in ur 2nd vector"))
for(i in seq(vn1))
{v1[i]=as.numeric(readline("input for 1st vector"))
    
}
for(i in seq(vn2))
    {v2[i]=as.numeric(readline("input for 2nd vector"))}
print(v1)
print(v2)

l=list(c(v1,v2))

paste("ur list is:",l)

no of elements in ur first vector3
no of elements in ur 2nd vector3
input for 1st vector1
input for 1st vector2
input for 1st vector3
input for 2nd vector3
input for 2nd vector2
input for 2nd vector1
[1] 1 2 3
[1] 3 2 1

[1] "ur list is: c(1, 2, 3, 3, 2, 1)"

In [5]:
a=data.frame(emp_id=c(1,2,3),
             emp_name=c("Nirmala","Lavanya","Satya"),
             emp_date=as.Date(c("2019-06-19","2019-08-20","2012-07-19")),
             gen=factor(c("F","F","M")))
            print(a)

  emp_id emp_name   emp_date gen
1      1  Nirmala 2019-06-19   F
2      2  Lavanya 2019-08-20   F
3      3    Satya 2012-07-19   M

str(a)

In [6]:
str(a)

'data.frame':	3 obs. of  4 variables:
 $ emp_id  : num  1 2 3
 $ emp_name: Factor w/ 3 levels "Lavanya","Nirmala",..: 2 1 3
 $ emp_date: Date, format: "2019-06-19" "2019-08-20" ...
 $ gen     : Factor w/ 2 levels "F","M": 1 1 2

a[emp_name]

In [7]:
a["emp_name"]

  emp_name
1 Nirmala
2 Lavanya
3 Satya

In [8]:
summary(a)

     emp_id       emp_name    emp_date          gen
 Min.   :1.0   Lavanya:1   Min.   :2012-07-19   F:2
 1st Qu.:1.5   Nirmala:1   1st Qu.:2016-01-03   M:1
 Median :2.0   Satya  :1   Median :2019-06-19
 Mean   :2.0               Mean   :2017-03-19
 3rd Qu.:2.5               3rd Qu.:2019-07-20
 Max.   :3.0               Max.   :2019-08-20

In [9]:
data.frame(a$emp_name,a$emp_date)

  a.emp_name a.emp_date
1 Nirmala    2019-06-19
2 Lavanya    2019-08-20
3 Satya      2012-07-19

In [13]:
#sort w joining date
a[with(a,order(a$emp_date)),]

  emp_id emp_name emp_date   gen
3 3      Satya    2012-07-19 M
1 1      Nirmala  2019-06-19 F
2 2      Lavanya  2019-08-20 F

In [33]:
a[with(a,order(emp_id))]

  emp_id emp_name emp_date
1 1      Nirmala  2019-06-19
2 2      Lavanya  2019-08-20
3 3      Satya    2012-07-19