In [60]:
score=100L
class(score)
name="gaja"
Dept=("AIML")

paste(name,Dept)
d=readline(prompt="enter ur pass")
print(d)
class(d)

[1] "integer"

[1] "gaja AIML"

enter ur pass5
[1] "5"

[1] "character"

In [2]:
new.d=as.integer(d)
new.d

[1] 5

In [3]:
class(new.d)

[1] "integer"

In [13]:
r=readline("ur radius")

ur radius3

In [14]:
r=as.integer(r)

In [15]:
pi=3.14
pi
r

[1] 3.14

[1] 3

In [16]:
result=(2*pi*r*r)*(pi*r*r)

In [17]:
result

[1] 1597.255

In [18]:
a=10
b=20

In [19]:
max(a,b)

[1] 20

In [20]:
min(a,b)

[1] 10

In [22]:
ceiling(10.8)

[1] 11

In [23]:
ceiling(10.2)

[1] 11

In [24]:
floor(10.2)

[1] 10

In [25]:
floor(10.9)

[1] 10

In [27]:
a=c(10,20,30,40)

In [28]:
a

[1] 10 20 30 40

In [29]:
class(a)

[1] "numeric"

In [30]:
a[0]  #index starts from 1 and not 0

numeric(0)

In [33]:
a[1]
a[2]
a[2:4]

[1] 10

[1] 20

[1] 20 30 40

In [40]:
 a1=c(1:10)
a1
a2=c("hi",500)
a2

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "hi"  "500"

In [41]:
l=list(a,a1,a2)
l

[[1]]
[1] 10 20 30 40

[[2]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[3]]
[1] "hi"  "500"

In [42]:
a

[1] 10 20 30 40

In [43]:
a1

 [1]  1  2  3  4  5  6  7  8  9 10

In [45]:
a1[2]=100
a1

 [1]   1 100   3   4   5   6   7   8   9  10

In [47]:
a1[c(1,3,8)]

[1] 1 3 8

In [48]:
a3=rep(c(1,2,3),each=3)
a3

[1] 1 1 1 2 2 2 3 3 3

In [50]:
a4=rep(c(1,2,3),times=c(1,3,4))
a4

[1] 1 2 2 2 3 3 3 3

In [53]:
a4=rep(c(1,2,3,6),times=c(2,3,4,1))
a4

 [1] 1 1 2 2 2 3 3 3 3 6

In [1]:
a1=c(1:3)
a1

[1] 1 2 3

In [2]:
paste("helo",a1)

[1] "helo 1" "helo 2" "helo 3"

In [3]:
paste(a1
     )

[1] "1" "2" "3"

In [4]:
paste("hello",1
     )

[1] "hello 1"

In [5]:
f=c(10,20,30,40,50,60)

In [6]:
f[1]

[1] 10

In [8]:
f[c(1,3)]=c(100,300)

In [9]:
f

[1] 100  20 300  40  50  60

In [11]:
sort(f)

[1]  20  40  50  60 100 300

In [12]:
sort(f,TRUE) #descndin

[1] 300 100  60  50  40  20

In [13]:
sort(f,FALSE) #ascendin

[1]  20  40  50  60 100 300

In [14]:
l=c(1:40)
l

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [15]:
seq(from=10,to=50,by=3)#start stop by-> n-1 jumps (if by is 3 it jumps 2 numbers(misses 2 numbers))

 [1] 10 13 16 19 22 25 28 31 34 37 40 43 46 49

In [20]:
seq(from=1,to=10,length.out=3) # length.out is value range

[1]  1.0  5.5 10.0

In [24]:
seq(from=1,to=10,length.out=19) # length.out is value range

 [1]  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0  7.5  8.0
[16]  8.5  9.0  9.5 10.0

In [26]:
mark=c(3,3,4,5,6,8,5,4,3)
mark

[1] 3 3 4 5 6 8 5 4 3

In [27]:
sum(mark)

[1] 41

In [28]:
sum(mark==3) #no of times 3 is repeated

[1] 3

In [29]:
lang=c("java","python","data","python")
lang

[1] "java"   "python" "data"   "python"

In [33]:
a=readline("count of which lang?")
sum(lang==a)

count of which lang?python

[1] 2